* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    text-transform: capitalize;
    text-align: center;
}

.cards {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px rgba(211, 211, 211, 0.486) solid;
    margin: 10px;
    transition: 0.6s;
}

.cards:hover {
    transition: 0.6s;
    box-shadow: 5px 5px 20px lightgray;
}

.cards img {
    transition: 0.2s;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 2px;
}

.cards:hover img {
    transition: 0.2s;
    outline: 4px solid grey;
}

.cards p {
    color: grey;
}

.social-media a i {
    color: grey;
    font-size: large;
    transition: 0.5s;
    padding: 10px 0;
}

.social-media a i:hover {
    transition: 0.5s;
    transform: scale(2);
}

.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

h1 {
    margin: 20px 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: grey;
}

.notification {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: max-content;
	padding: 20px 15px;
	border-radius: 4px;
	background-color: #141619;
	color: #f6f5f9;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 5s linear forwards;
}
.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-image: linear-gradient(to right, #539bdb, #3250bf);
	border-radius: inherit;
	animation: load 3s 0.25s linear forwards;
}
@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes load {
	to {
		transform: scaleX(1);
	}
}

.paragraph span {
    text-align: center;
    text-transform: capitalize;
    display: flex;
    margin: 20px;
	opacity: 0;
	animation: reveal 10s forwards var(--d);
}
@keyframes reveal {
	from {
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
